:root {
  --main: #66ecf3;
  --secondshade: #66ecf3e3;
  --thirdshade: #87e9eee3;
}

body {
  width: 100vw;
  height: 100vh;
  background-image: url('../imgs/golf-course.jpg');
  image-rendering: pixelated;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

h1 {
  color: var(--main);
  text-align: center;
}

input {
  border: none;
  border-bottom: 1px solid white;
  background-color: transparent;
  font-size: 14px;
  font-weight: bold;
  color: white;
}

a {
  color:var(--secondshade);
  cursor: pointer;
}

a:hover {
  cursor: pointer;
}


.form {
  background: rgba(217,214,214,0.3);
  backdrop-filter: blur(4px);
  border: 1px solid rgba(217,214,214,0.15);
  border-radius: 8px;
  width: 50%;
  padding: 50px;
  color: white;
}

.login {
  background-color: var(--main);
  width: 50%;
  border: none;
  padding: 10px;
  color: black;
}

.input-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 40px;
}

.input-container label {
  margin-bottom: 20px;
  font-size: 18px;
  color: white;
}

.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/** Tablet */
@media screen and (max-width: 650px) {

  .form {
    background: rgba(217,214,214,0.3);
    backdrop-filter: blur(4px);
    border: 1px solid rgba(217,214,214,0.15);
    border-radius: 8px;
    width: 70%;
    padding: 20px;
    color: white;
  }
  h1 {
    color: var(--main);
    text-align: center;
    font-size: 20px;
  }
  
  input {
    border: none;
    border-bottom: 1px solid white;
    background-color: transparent;
    font-size: 14px;
    font-weight: bold;
    color: white;
  }
  
  a {
    color:var(--secondshade);
    cursor: pointer;
  }

  .input-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
  }
  
  .input-container label {
    margin-bottom: 10px;
    font-size: 12px;
    color: white;
  }
  
  a:hover {
    cursor: pointer;
  }
}

@media screen and (max-width: 480px) {

  .form {
    background: rgba(217,214,214,0.3);
    backdrop-filter: blur(4px);
    border: 1px solid rgba(217,214,214,0.15);
    border-radius: 8px;
    width: 70%;
    padding: 20px;
    color: white;
  }
  h1 {
    color: var(--main);
    text-align: center;
    font-size: 20px;
  }
  
  input {
    border: none;
    border-bottom: 1px solid white;
    background-color: transparent;
    font-size: 14px;
    font-weight: bold;
    color: white;
  }
  
  a {
    color: var(--secondshade);
    cursor: pointer;
  }

  .input-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
  }
  
  .input-container label {
    margin-bottom: 10px;
    font-size: 12px;
    color: white;
  }
  
  a:hover {
    cursor: pointer;
  }
}

