<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Slice Home</title>
    <link rel ="stylesheet" href = "../css/home.css">
    <script src = "../js/home.js" type = "module"></script>
</head>
<body>
    <div class = "nav">
        <h3>Slice</h3>
        <svg fill="#66ecf3e3" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
            <path d="M10 8a3 3 0 100-6 3 3 0 000 6zM3.465 14.493a1.23 1.23 0 00.41 1.412A9.957 9.957 0 0010 18c2.31 0 4.438-.784 6.131-2.1.43-.333.604-.903.408-1.41a7.002 7.002 0 00-13.074.003z"></path>
        </svg>
    </div>

    <div class = "main-container">
        <div class = "welcome-find-container">
            <h1>Welcome, user1</h1>
        </div>

        <div class = "past-rounds">
            <h2>Past Rounds</h2>
        </div>

        <div class = "post-container">
            <div class = "top-row">
                <div class = "round-info">
                    <h2>Reedy Creek</h2>
                </div>
                <h4>August 30, 2023</h4>
            </div>

            <div class = "main-post-content">
                <p>You recorded a score of 90 at Reedy Creek!</p>
                <div class = "scorecard">
                    <table>
                        <tr>
                            <th>Hole</th>
                            <td>1</td>
                            <td>2</td>
                            <td>3</td>
                            <td>4</td>
                            <td>5</td>
                            <td>6</td>
                            <td>7</td>
                            <td>8</td>
                            <td>9</td>
                            <th>OUT</th>
                            <td>10</td>
                            <td>11</td>
                            <td>12</td>
                            <td>13</td>
                            <td>14</td>
                            <td>15</td>
                            <td>16</td>
                            <td>17</td>
                            <td>18</td>
                            <th>IN</th>
                            <th>TOTAL</th>
                        </tr>
                        <tr>
                            <th>Handicap</th>
                            <td>4</td>
                            <td>18</td>
                            <td>2</td>
                            <td>16</td>
                            <td>14</td>
                            <td>12</td>
                            <td>1</td>
                            <td>10</td>
                            <td>9</td>
                            <td></td>
                            <td>11</td>
                            <td>8</td>
                            <td>13</td>
                            <td>3</td>
                            <td>15</td>
                            <td>17</td>
                            <td>6</td>
                            <td>5</td>
                            <td>7</td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <th>PAR</th>
                            <td>4</td>
                            <td>3</td>
                            <td>4</td>
                            <td>4</td>
                            <td>5</td>
                            <td>3</td>
                            <td>4</td>
                            <td>4</td>
                            <td>5</td>
                            <td>36</td>
                            <td>4</td>
                            <td>4</td>
                            <td>3</td>
                            <td>5</td>
                            <td>4</td>
                            <td>4</td>
                            <td>5</td>
                            <td>3</td>
                            <td>4</td>
                            <td>36</td>
                            <td>72</td>
                        </tr>
                        <tr class = "score-row">
                            <th>Tyler</th>
                            <td>4</td>
                            <td>3</td>
                            <td>5</td>
                            <td>5</td>
                            <td>7</td>
                            <td>8</td>
                            <td>3</td>
                            <td>5</td>
                            <td>6</td>
                            <td></td>
                            <td>5</td>
                            <td>6</td>
                            <td>2</td>
                            <td>5</td>
                            <td>4</td>
                            <td>7</td>
                            <td>5</td>
                            <td>4</td>
                            <td>5</td>
                            <td></td>
                            <td>90</td>
                        </tr>
                    </table>
                </div>
            </div>

        </div>


    </div>
    
</body>
</html>